Repository sherlock-project/sherlock, pull requests merged in 2019-12, with the labels that each got.

#339 add Facename
  data.json
Labels: do not merge

#471 Limit Number Of Parallel Requests To 20 (Instead Of Number Of Sites)
  README.md
  data.json
  sherlock.py
  sites.md
Labels: bug

#486 Fix "interpals", Add "Windy", "uid", And "opensource"
  README.md
  data.json
  sherlock.py
  sites.md
Labels: site support request

#500 More Site Addition And Fixes
  README.md
  data.json
  data_bad_site.json
  removed_sites.md
  sherlock.py
  sites.md
Labels: bug, site support request
